<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:enableOnBackInvokedCallback="false" android:label="AGN 2026" android:icon="@drawable/icon" android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules" android:theme="@style/AppTheme" android:supportsRtl="true">
        <activity android:configChanges="orientation|screenSize" android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
